<div class="grid justify-center pb-7 lg:mt-0 mt-60">
  <div class="flex justify-center">
    <h2 class="text-2xl font-bold uppercase inline-block border-2 border-black my-8 py-2 px-4 cursor-pointer">
      <a>shop new arrivals</a>
    </h2>
  </div>

  <div class="flex justify-center">
    <div class="carousel max-w-[1200px]">
      <div class="max-w-60 px-1.5">
        <a href="#" class="max-w-60 flex flex-col">
          <img height="190px" width="230px" src="https://placehold.co/190x230">
          <span>Product name</span>
          <span>$0.00</span>
        </a>
      </div>
      <div class="max-w-60 px-1.5">
        <a href="#" class="max-w-60 flex flex-col">
          <img height="190px" width="230px" src="https://placehold.co/190x230">
          <span>Product name</span>
          <span>$0.00</span>
        </a>
      </div>
      <div class="max-w-60 px-1.5">
        <a href="#" class="max-w-60 flex flex-col">
          <img height="190px" width="230px" src="https://placehold.co/190x230">
          <span>Product name</span>
          <span>$0.00</span>
        </a>
      </div>
      <div class="max-w-60 px-1.5">
        <a href="#" class="max-w-60 flex flex-col">
          <img height="190px" width="230px" src="https://placehold.co/190x230">
          <span>Product name</span>
          <span>$0.00</span>
        </a>
      </div>
      <div class="max-w-60 px-1.5">
        <a href="#" class="max-w-60 flex flex-col">
          <img height="190px" width="230px" src="https://placehold.co/190x230">
          <span>Product name</span>
          <span>$0.00</span>
        </a>
      </div>
      <div class="max-w-60 px-1.5">
        <a href="#" class="max-w-60 flex flex-col">
          <img height="190px" width="230px" src="https://placehold.co/190x230">
          <span>Product name</span>
          <span>$0.00</span>
        </a>
      </div>
      <div class="max-w-60 px-1.5">
        <a href="#" class="max-w-60 flex flex-col">
          <img height="190px" width="230px" src="https://placehold.co/190x230">
          <span>Product name</span>
          <span>$0.00</span>
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.carousel').slick({
      infinite: true,
      slidesToShow: 6,
      slidesToScroll: 2,
      prevArrow:
        '<button type="button" class="slick-prev h-8 w-4"><svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 7 11"><path d="M5.5.037a1.5 1.5 0 0 1 1.06 2.56l-2.94 2.94 2.94 2.94a1.5 1.5 0 0 1-2.12 2.12l-4-4a1.5 1.5 0 0 1 0-2.12l4-4A1.5 1.5 0 0 1 5.5.037z" fill="#000000" class="layer"></path></svg></button>',
      nextArrow:
        '<button type="button" class="slick-next h-8 w-4"><svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 7 11"><path d="M1.5 11A1.5 1.5 0 0 1 .44 8.44L3.38 5.5.44 2.56A1.5 1.5 0 0 1 2.56.44l4 4a1.5 1.5 0 0 1 0 2.12l-4 4A1.5 1.5 0 0 1 1.5 11z" fill="#000000"></path></svg></button>',
    });
  });
</script>

{% schema %}
{
  "name": "Carousel",
  "tag": "section",
  "class": "Carousel",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Carousel"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Carousel",
      "settings": {
        "title": "Carousel"
      },
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "title": "Carousel"
    },
    "fr": {
      "title": "Diaporama"
    }
  },
  "enabled_on": {
    "templates": ["*"],
    "groups": ["footer"]
  }
}
{% endschema %}
