<div class="w-[1250px] mx-auto mt-20">
  <div>
    <div>
      <h3 class="text-2xl font-medium uppercase mb-5">blah blah blah social media</h3>
      <p class="mb-5">Tag us online @blah! blah blah blah</p>
    </div>

    <div class="mx-auto flex flex-col items-center justify-center">
        
        <div class="carousel-2 max-w-[1000px] flex justify-center">
          <div class="px-1.5 flex justify-center">
            <a href="#" class="">
              <img height="300px" width="300px" src="https://placehold.co/300x300">
            </a>
          </div>
          <div class="px-1.5 flex justify-center">
            <a href="#" class="">
              <img height="300px" width="300px" src="https://placehold.co/300x300">
            </a>
          </div>
          <div class="px-1.5 flex justify-center">
            <a href="#" class="">
              <img height="300px" width="300px" src="https://placehold.co/300x300">
            </a>
          </div>
          <div class="px-1.5 flex justify-center">
            <a href="#" class="">
              <img height="300px" width="300px" src="https://placehold.co/300x300">
            </a>
          </div>
          <div class="px-1.5 flex justify-center">
            <a href="#" class="">
              <img height="300px" width="300px" src="https://placehold.co/300x300">
            </a>
          </div>
          <div class="px-1.5 flex justify-center">
            <a href="#" class="">
              <img height="300px" width="300px" src="https://placehold.co/300x300">
            </a>
          </div>
        </div>

    <div class="mt-12 flex justify-center gap-4">
      <div>
        <a class="bg-[#FFD43B] text-xl font-semibold uppercase py-2.5 px-5 hover:bg-black hover:text-white" href="#"
          >view more</a
        >
      </div>
      <div>
        <a
          class="border-2 border-black text-xl font-semibold uppercase py-2.5 px-5 hover:bg-black hover:text-white"
          href="#"
          >upload image</a
        >
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.carousel-2').slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      prevArrow:
        '<button type="button" class="slick-prev h-8 w-4"><svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 7 11"><path d="M5.5.037a1.5 1.5 0 0 1 1.06 2.56l-2.94 2.94 2.94 2.94a1.5 1.5 0 0 1-2.12 2.12l-4-4a1.5 1.5 0 0 1 0-2.12l4-4A1.5 1.5 0 0 1 5.5.037z" fill="#000000" class="layer"></path></svg></button>',
      nextArrow:
        '<button type="button" class="slick-next h-8 w-4"><svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 7 11"><path d="M1.5 11A1.5 1.5 0 0 1 .44 8.44L3.38 5.5.44 2.56A1.5 1.5 0 0 1 2.56.44l4 4a1.5 1.5 0 0 1 0 2.12l-4 4A1.5 1.5 0 0 1 1.5 11z" fill="#000000"></path></svg></button>',
    });
  });
</script>

{% schema %}
{
  "name": "Carousel-2",
  "tag": "section",
  "class": "Carousel",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Carousel"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Carousel",
      "settings": {
        "title": "Carousel"
      },
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "title": "Carousel"
    },
    "fr": {
      "title": "Diaporama"
    }
  },
  "enabled_on": {
    "templates": ["*"],
    "groups": ["footer"]
  }
}
{% endschema %}
