<div class="grid justify-center">
  <div class="flex justify-center">
    <h2 class="text-2xl font-bold uppercase inline-block border-2 border-black my-12 py-2 px-4 cursor-pointer">
      <a>shop new arrivals</a>
    </h2>
  </div>

  <div class="">
    <div class="flex">
      <div class="flex  items-center">
        <button class="inline mr-2 rounded-full bg-[#FFD43B]" id="prev-btn">L</button>
      </div>
      <div class="" id="item-list">
        <div>
          <a href="#" id="1">
            <img height="190px" width="230px" src="https://placehold.co/190x230">
          </a>
        </div>
        <div>
          <a href="#" id="2">
            <img height="190px" width="230px" src="https://placehold.co/190x230">
          </a>
        </div>
        <div>
          <a href="#" id="3">
            <img height="190px" width="230px" src="https://placehold.co/190x230">
          </a>
        </div>
        <div>
          <a href="#" id="4">
            <img height="190px" width="230px" src="https://placehold.co/190x230">
          </a>
        </div>
        <div>
          <a href="#" id="5">
            <img height="190px" width="230px" src="https://placehold.co/190x230">
          </a>
        </div>
      </div>
      <div class="flex  items-center" id="item">
        <button class="inline ml-2 rounded-full bg-[#FFD43B]" id="next-btn">R</button>
      </div>
    </div>
  </div>
</div>

<div class="overflow-hidden">
  <div class="multiple-items" id="item-list">
    <div>
      <a href="#" id="1">
        <img height="190px" width="230px" src="https://placehold.co/190x230">
      </a>
    </div>
    <div>
      <a href="#" id="2">
        <img height="190px" width="230px" src="https://placehold.co/190x230">
      </a>
    </div>
    <div>
      <a href="#" id="3">
        <img height="190px" width="230px" src="https://placehold.co/190x230">
      </a>
    </div>
    <div>
      <a href="#" id="4">
        <img height="190px" width="230px" src="https://placehold.co/190x230">
      </a>
    </div>
    <div>
      <a href="#" id="5">
        <img height="190px" width="230px" src="https://placehold.co/190x230">
      </a>
    </div>
  </div>
</div>

<script>
  {% comment %} const prev = document.getElementById('prev-btn');
  const next = document.getElementById('next-btn');
  const list = document.getElementById('item-list');
  const itemWidth = 150;
  const padding = 10;

  prev.addEventListener('click', () => {
    list.scrollLeft -= itemWidth + padding;
  });
  next.addEventListener('click', () => {
    list.scrollLeft += itemWidth + padding;
  }); {% endcomment %}

  $(document).ready(function(){
    $('.multiple-items').slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 3
    });
  });
</script>

{% schema %}
{
  "name": "Carousel",
  "tag": "section",
  "class": "Carousel",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Carousel"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Carousel",
      "settings": {
        "title": "Carousel"
      },
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "title": "Carousel"
    },
    "fr": {
      "title": "Diaporama"
    }
  },
  "enabled_on": {
    "templates": ["*"],
    "groups": ["footer"]
  }
}
{% endschema %}
