<div class="flex justify-center lg:pt-28">
  <a href="#">
    <img height="550px" width="16800px" src="https://placehold.co/1680x550">
  </a>

  <div class="absolute top-[16%] lg:top-[50%] flex flex-col items-center">
    <div class="bg-[#dee2e6]">
      <h3 class="text-5xl uppercase font-extrabold">featured product</h3>
    </div>
    <div class="bg-[#FFD43B] mt-8 py-2 px-4">
      <a class="text-2xl font-bold uppercase" href="#"> shop now </a>
    </div>
  </div>
</div>
