<div class="bg-[#222] p-2 flex justify-center gap-x-40 text-[#FFD43B] font-extralight uppercase fixed w-full z-10">
  <a class="hover:underline" href="#">10% Off first order!</a>
  <a class="hover:underline" href="#">Free shipping blah blah</a>
</div>
