<nav class="bg-[black] px-6 py-4 flex justify-between items-center fixed w-full z-10 mt-10">
  <div class="text-white font-bold">
    <ul class="flex gap-x-3 uppercase">
      <li class="dropdown">
        <a class=" drop-btn text-lg hover:underline hover:decoration-2 hover:decoration-[#FFD43B]" href="#"> women </a>
        <div class="dropdown-content pt-[1rem] left-0 w-full z-10">
          <div class="px-24 py-5 flex">
            <ul class="gap-y-2 flex flex-col w-[150px] pr-5">
              <li><a class="text-black" href="#">test 1</a></li>
              <li><a class="text-black" href="#">test 2</a></li>
              <li><a class="text-black" href="#">test 3</a></li>
            </ul>
            <ul class="gap-y-2 flex flex-col w-[150px] pr-5">
              <li><a class="text-black" href="#">test 1</a></li>
              <li><a class="text-black" href="#">test 2</a></li>
              <li><a class="text-black" href="#">test 3</a></li>
              <li><a class="text-black" href="#">blah blah</a></li>
              <li><a class="text-black" href="#">blah blah blah</a></li>
            </ul>
            <ul class="gap-y-2 flex flex-col w-[150px] pr-5">
              <li><a class="text-black" href="#">test 1</a></li>
              <li><a class="text-black" href="#">test 2</a></li>
              <li><a class="text-black" href="#">test 3</a></li>
              <li><a class="text-black" href="#">blah blah</a></li>
              <li><a class="text-black" href="#">blah blah blah</a></li>
              <li><a class="text-black" href="#">blah blah more words</a></li>
              <li><a class="text-black" href="#">blah blah blah</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="list-item">
        <a class="text-lg hover:underline hover:decoration-2 hover:decoration-[#FFD43B]" href="#"> men </a>
      </li>
      <li class="list-item">
        <a class="text-lg hover:underline hover:decoration-2 hover:decoration-[#FFD43B]" href="#"> kids </a>
      </li>
      <li class="list-item">
        <a class="text-lg hover:underline hover:decoration-2 hover:decoration-[#FFD43B]" href="#"> accessories </a>
      </li>
      <li class="list-item">
        <a class="text-lg text-[#E64980] hover:underline hover:decoration-2 hover:decoration-[#FFD43B]" href="#">
          sale
        </a>
      </li>
      <li class="list-item">
        <a class="text-lg  hover:underline hover:decoration-2 hover:decoration-[#FFD43B]" href="#"> resale </a>
      </li>
    </ul>
  </div>

  <div class="flex">
    <input class="placeholder:text-white bg-[#495057] w-96" type="text" placeholder="What can we help you find?">
  </div>
</nav>

<style>
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
  }

  .dropdown-content a {
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    text-decoration: underline;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content:hover {
    display: block;
  }
</style>
