<div class="bg-[black] px-6 py-4 flex justify-between items-center">
  <div class="text-white font-bold">
    <ul class="flex gap-x-3 uppercase">
      <li class="list-item">
        <a class="text-lg" href="#"> women </a>
      </li>
      <li class="list-item">
        <a class="text-lg" href="#"> men </a>
      </li>
      <li class="list-item">
        <a class="text-lg" href="#"> kids </a>
      </li>
      <li class="list-item">
        <a class="text-lg" href="#"> accessories </a>
      </li>
      <li class="list-item">
        <a class="text-lg" href="#"> sale </a>
      </li>
      <li class="list-item">
        <a class="text-lg" href="#"> resale </a>
      </li>
    </ul>
  </div>

  <div class="flex">
    <input class="placeholder:text-white bg-[#495057] w-96" type="text" placeholder="What can we help you find?">
  </div>
</div>
