<div class="flex justify-center">
  <div class="test-carousel max-w-[1000px]">
    <div>
      <a href="#" class="">
        <img height="190px" width="230px" src="https://placehold.co/190x230">
      </a>
    </div>
    <div>
      <a href="#" class="">
        <img height="190px" width="230px" src="https://placehold.co/190x230">
      </a>
    </div>
    <div>
      <a href="#" class="">
        <img height="190px" width="230px" src="https://placehold.co/190x230">
      </a>
    </div>
    <div>
      <a href="#" class="">
        <img height="190px" width="230px" src="https://placehold.co/190x230">
      </a>
    </div>
    <div>
      <a href="#" class="">
        <img height="190px" width="230px" src="https://placehold.co/190x230">
      </a>
    </div>
    <div>
      <a href="#" class="">
        <img height="190px" width="230px" src="https://placehold.co/190x230">
      </a>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.test-carousel').slick({
      infinite: true,
      slidesToShow: 4,
      slidesToScroll: 1,
    });
  });
</script>

{% schema %}
{
  "name": "text-carousel",
  "tag": "section",
  "class": "Carousel",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Carousel"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Carousel",
      "settings": {
        "title": "Carousel"
      },
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ],
  "locales": {
    "en": {
      "title": "Carousel"
    },
    "fr": {
      "title": "Diaporama"
    }
  },
  "enabled_on": {
    "templates": ["*"],
    "groups": ["footer"]
  }
}
{% endschema %}
