<!doctype html>
<html>
  <head>
    <title>Genesis Ramirez</title>

    {% comment %} {{ 'index.css' | asset_url | stylesheet_tag }} {% endcomment %}

    {{ 'tailwind-output.css' | asset_url | stylesheet_tag }}

    <link rel="stylesheet" type="text/css" href="slick/slick.css">
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css">

    {{ content_for_header }}
  </head>
  <body>
    {% section 'header-welcome-banner' %}
    {% section 'header' %}

    {{ content_for_layout }}

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
  </body>
</html>
